body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container_principal {
  width: 100%;
  height: 100vh;
}

.boton-regreso {
  position: fixed;
  bottom: 20px;  
  left: 20px;
  z-index: 1000;
}

.btn-volver {
  padding: 10px 20px;
  background-color: #3b5db6;
  color: #fff;
  text-decoration: none;
  border-radius: 24px;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #070707;
  transition: all linear 0.2s;
  display: inline-block;
}

.btn-volver:hover {
  background-color: #2a4a8f;
}

