* {
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 50%;
    margin: 0 auto;
    background-color: #e4e4e4;

}

header {
    background-color: #016aea;
}

footer {
    background-color: #016aea;
}

header h1 {
    /*padding-top: 80px;
    padding-bottom: 80px;*/
    /*top der bottom izq*/
    padding: 80px 0px 80px 0px;
    /*padding:80px 80px;*/
    color: #fff;
    text-align: center;
    font-size: 40px;
}

footer h2 {
    padding: 60px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 30ox;
    text-align: center;
    padding-top: 50px;
}

h3 {
    font-size: 24px;
    text-align: center;
    color: #016aea;
    margin: 100px;
}

p {
    text-align: justify;
    line-height: 30px;
    margin: 40px;
    font-size: 22px;
}

.tam1 img {
    width: 85%;
}
.centrado {
    text-align: center;
}

.bajar1 {
    padding-bottom: 20px;
}

.tam2 img {
    width: 65%;
    padding-bottom: 30px;
}